*{
    margin: 0;
    padding: 0;
}

/* navigation bar  */

.navigation{
    background-color: #6F6AF7;
    text-align: center;
    min-width: 100%;
    max-width: 110%;
    position: fixed;
    
  
}
#logo img{
   width: 60%;
   padding: 10px;
}
.navlist {
    list-style: none;
    align-items: center;
    padding: 15px;
    padding-left: 5%;
    display: flex;
    
}
.navlist a{
    text-decoration: none;
    color: white;
    padding: 28px;
    
}
.navitem{
    display: flex;
    text-align: center;
}
#more{
    border:none;
    background-color:#6F6AF7 ;
    color: white;
}
.searchBox{
    margin: 15px;
    display: flex;
    
      
}
#searchbar{
    border: none;
    border-radius: 10px;
    padding-left: 8%;
    height:27px;
    background-image: url(img/search.svg);
    background-repeat: no-repeat;
    background-position: 97%;
   
}
.searchBox img{
    
    width: 11%;
    padding-left: 100%;

}

/* Body  */

.bodyPart{
    width: 96%;
   align-items: center;
   text-align: center;  

}
.upper{
    display: flex;
    padding-top: 5%;
    margin-left: auto;
    margin-right: auto;
}
.left img{
    width: 80%;
    margin: 20%;
    
}
.right{
    margin: 6%;
    margin-top: 6.5%;
    background: #E5D8FF;
    border: 6px solid #FFF;
    border-radius: 1.25rem;
    box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.25) inset;
   
}
.right p{
    padding: 5%;
    text-align: left;
    color: #6F7373;
    font-family: DM Sans;

}

.middle{
    display: flex;
    margin-left: 6%;
    justify-content: space-between;
    margin-top: 4%;
    width: 90%;
    
}
.box1{
    background-color: #929DFF;
    color: white;
    border-radius: 0.6875rem;
    padding: 2%;
    box-shadow: 0px 9px 31px 0px rgba(0, 0, 0, 0.40);
    min-width: 150px;
    letter-spacing: 0.0725rem;
    font-family: DM Sans;
    
}
.box2{
    background-color: #734CF2;
    color: white;
    border-radius: 0.6875rem;
    padding: 2%;
    box-shadow: 0px 9px 31px 0px rgba(0, 0, 0, 0.40);
    min-width: 150px;
    text-align: left;
    letter-spacing: 0.0725rem;
    font-family: DM Sans;
    
}
.box3{
    background-color: #D288FF;
    color: white;
    border-radius: 0.6875rem;
    padding: 2%;
    box-shadow: 0px 9px 31px 0px rgba(0, 0, 0, 0.40);
    min-width: 150px;
    text-align: left;
    letter-spacing: 0.0725rem;
    font-family: DM Sans;
    
}
.box4{
    background-color: #000000;
    color: white;
    border-radius: 0.6875rem;
    padding: 2%;
    box-shadow: 0px 9px 31px 0px rgba(0, 0, 0, 0.40);
    min-width: 150px;
    text-align: left;
    letter-spacing: 0.0725rem;
    font-family: DM Sans;
    
}
.chat img{
    position: fixed ;
    width: 7.5rem;
    height: 7.5rem;
    top: 80%;
    margin-left: 40%;
    
}
.lower{
    background-color: #483EFF;
    border-radius: 1.3125rem;
    width: 90%;
    height: 25rem;
    margin: 5%;
    display: flex;
    border-radius: 10px;
    margin-top: 15%;
}
#info{
    background-color: #BCE0F6;
    font-family: DM Sans;
    font-size: 1.2rem;
    letter-spacing: 0.0875rem;
    color: #000000;
    font-weight: 550;
    margin-top: 3%;
    border: none;
}
.lefter{
    
    width: 30%;
    margin-top: 4%;
    margin-right: 4%;
    
}
.lefter button{
    margin-top: 2rem;
    margin: 25px;
    margin-left: 4rem;
    border-radius: 1rem;
    width: 13rem;
    height: 4.5rem;
    border: white solid 3px;
    background-color: #483EFF;
    color: white;
    font-family: DM Sans;
    font-size: 1.2rem;
    font-style: normal;
    letter-spacing: 0.0875rem;
    cursor: pointer;
}
.righter{
    
    width: 70%;
    background-color: #FFFFFF ;
    margin: 2.5%;
    height: 90%;
    border-radius: 8px;
    text-align: left;
    
}
.righter h3{
    color: #04285A;
    font-family: Inter;
    letter-spacing: 0.24rem;
    font-weight: 700;
    padding: 2.5rem;
    font-style:normal;
}
.detail{
    margin-left: 10%;
    
    
}

.detailLeft{
    font-weight: 550;
    padding-right: 5%;
    padding-bottom: 5%;
    font-family: Roboto;
}
.btn{
    margin: 5%;
    float: right;
    margin-top: 60px;
    
}
#Nxt{
    background-color: black;
    color: white;
    width: 6.5rem;
    height: 2.4rem;
    display: flex;
    align-items: center;
    border-radius: 9px;
    border: none;
    cursor: pointer;
}
#Nxt p{
    padding: 8px;
    padding-left: 15%;
}
#Nxt img{
    padding: 5px;
   width: 25px;
}

.social{
    float: right;
    width: 45px;
    position: sticky;
    margin-top: 30vh;
    top: 70px;
    
}

.social #wts{
    border: 1.9px solid;
    border-radius: 5px;
    width: 41px;
    background-color: white;
    
}
.social img{
    width: 45px;
    padding-bottom: 2%;
}
